[Desktop Entry]
Type=Application
Version=1.0
Name=Install LarpOS
GenericName=System Installer
Comment=Install LarpOS to your disk
Exec=kitty --title "LarpOS Installer" -e sudo -E calamares
Icon=larpos
Terminal=false
Categories=System;Installer;
